stacks/comprehension-stack/template.yaml
AWSTemplateFormatVersion: "2010-09-09"

Description: "Octank demo - Transcribe audio file triggered from S3 bucket using step functions, pass data to Amazon Comprehend and store to DynamoDB"

Parameters:
  StepFnTriggerLambdaName:
    Type: String
    Default: octank-step-fn-trigger
  StartTranscriptionLambdaName:
    Type: String
    Default: octank-transcribe-trigger
  CheckTranscriptionStatusLambdaName:
    Type: String
    Default: octank-check-transcribe-status
  GetTranscriptionOutputLambdaName:
    Type: String
    Default: octank-get-transcribe-output
  ComprehendTriggerLambdaName:
    Type: String
    Default: octank-comprehend-trigger
  DynamoDBTableName:
    Type: String
    Default: octank-customer-table
  StepFunctionName:
    Type: String
    Default: octank-transcribe-comprehend-store
  AudioFileS3Bucket:
    Type: String
    Default: connect-8f2ee5b86dec
  CustomResourceLambdaFunctionName:
    Type: String
    Default: octank-custom-resource-lambda
  ComprehendInputBucketName:
    Type: String
    Default: octank-comprehend-input-bucket
  ComprehendOutputBucketName:
    Type: String
    Default: octank-comprehend-output-bucket
  CustomEntityRecognizerArn:
    Type: String
    Default: "arn:aws:comprehend:us-east-1:197234178237:entity-recognizer/octank-invenstment-entity-recognizer-copy"
  CheckComprehendStatusLambdaName:
    Type: String
    Default: octank-check-comprehend-status
  GetComprehendOutputLambdaName:
    Type: String
    Default: octank-get-comprehend-output
  StoreComprehendOutputLambdaName:
    Type: String
    Default: octank-store-comprehend-output
Resources:
  StepFunctionTriggerLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          'use strict';

          const aws = require('aws-sdk');
          var stepfunctions = new aws.StepFunctions();
          const s3 = new aws.S3({ apiVersion: '2006-03-01' });

          exports.handler = (event, context, callback) => {
            const bucket = event.Records[0].s3.bucket.name;
            const key = decodeURIComponent(event.Records[0].s3.object.key.replace(/\+/g, ' '));
            const params = { Bucket: bucket, Key: key };
            if (!key.endsWith(".wav")) {
              console.log('S3 upload trigger corresponds to an object that is not an audio file. No transcribe will be triggered');
              callback(null, event);
            } else {
                s3.getObject(params, (err, data) => {
                if (err) {
                  console.log(err);
                  const message = `Error getting object ${key} from bucket ${bucket}. Make sure they exist and your bucket is in the same region as this function.`;
                  console.log(message);
                  callback(message, event);
                } else {
                  var job_name = key.replace("/", "-");
                  var stepparams = {
                    "stateMachineArn": process.env.STEP_FUNCTIONS_ARN,
                    "input": "{\"s3URL\": \"https://s3.amazonaws.com/" + bucket + "/" + key + "\",\"TRANSCRIBE_JOB_NAME\": \"" + job_name + "\"}"
                  };
                  stepfunctions.startExecution(stepparams, function(err, data) {
                    if (err) console.log(err, err.stack); // an error occurred
                    else console.log(data); // successful response
                  });
                  callback(null, data.ContentType);
                }
              });
            }
          };
      Handler: index.handler
      FunctionName: !Ref StepFnTriggerLambdaName
      Description: Lambda invoked on changes in DynamoDB table
      Role:
        Fn::GetAtt: [StepFunctionTriggerLambdaRole, Arn]
      Runtime: nodejs12.x
      Timeout: 300
      Environment:
        Variables:
          STEP_FUNCTIONS_ARN: !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${StepFunctionName}
  StepFunctionTriggerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: StepFunctionTriggerLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:GetObjectTagging
                  - s3:GetObjectVersion
                Resource: !Sub arn:aws:s3:::${AudioFileS3Bucket}/*
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${StepFunctionName}
  StartTranscriptionLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          'use strict';

          const AWS = require('aws-sdk');
          const transcribeservice = new AWS.TranscribeService();
          exports.handler = (event, context, callback) => {
            var parts = event.TRANSCRIBE_JOB_NAME.split("/");
            var params = {
              LanguageCode: 'en-US',
              Media: {
                MediaFileUri: event.s3URL + ""
              },
              MediaFormat: 'wav',
              TranscriptionJobName: parts[parts.length - 1]
            };
            transcribeservice.startTranscriptionJob(params, function(err, data) {
              if (err) console.log(err, err.stack); // an error occurred
              else     {
              console.log(data);           // successful response
              event.TRANSCRIBE_WAIT_TIME = 30;
              event.TRANSCRIBE_JOB_NAME = data.TranscriptionJob.TranscriptionJobName;
              callback(null, event);
              }
            });
          };
      Handler: index.handler
      FunctionName: !Ref StartTranscriptionLambdaName
      Description: Trigger transcription job for call recordings
      Role:
        Fn::GetAtt: [StartTranscriptionLambdaRole, Arn]
      Runtime: nodejs12.x
      Timeout: 300
  StartTranscriptionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: StartTranscriptionLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - transcribe:StartStreamTranscription
                  - transcribe:StartTranscriptionJob
                  - logs:PutLogEvents
                Resource: "*"
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:GetObjectTagging
                  - s3:GetObjectVersion
                Resource: !Sub arn:aws:s3:::${AudioFileS3Bucket}/*
  CheckTranscriptionStatusLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          'use strict';
          var AWS = require('aws-sdk');
          var transcribeservice = new AWS.TranscribeService();

          exports.handler = (event, context, callback) => {
              var params = {
                TranscriptionJobName: event.TRANSCRIBE_JOB_NAME
              };
              transcribeservice.getTranscriptionJob(params, function(err, data) {
                if (err) console.log(err, err.stack); // an error occurred
                else     console.log(data);           // successful response
                event.TRANSCRIBE_STATUS = data.TranscriptionJob.TranscriptionJobStatus;
                event.Transcript =data.TranscriptionJob.Transcript;
                callback(null, event);
              });
          };
      Handler: index.handler
      FunctionName: !Ref CheckTranscriptionStatusLambdaName
      Description: Check status of transcription job
      Role:
        Fn::GetAtt: [CheckTranscriptionStatusLambdaRole, Arn]
      Runtime: nodejs12.x
      Timeout: 300
  CheckTranscriptionStatusLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: CheckTranscriptionStatusLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - transcribe:GetTranscriptionJob
                  - transcribe:ListTranscriptionJobs
                Resource: "*"
  GetTranscriptionOutputLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          'use strict';
          var AWS = require('aws-sdk');
          var transcribeservice = new AWS.TranscribeService();

          exports.handler = (event, context, callback) => {

              var params = {
                TranscriptionJobName: event.TRANSCRIBE_JOB_NAME
              };
              transcribeservice.getTranscriptionJob(params, function(err, data) {
                if (err) console.log(err, err.stack); // an error occurred
                else     console.log(data);           // successful response
                event.TRANSCRIBE_STATUS = data.TranscriptionJob.TranscriptionJobStatus;
                event.TranscriptFileUri =data.TranscriptionJob.Transcript.TranscriptFileUri;
                callback(null, event);
              });
          };
      Handler: index.handler
      FunctionName: !Ref GetTranscriptionOutputLambdaName
      Description: Get transcription output
      Role:
        Fn::GetAtt: [GetTranscriptionOutputLambdaRole, Arn]
      Runtime: nodejs12.x
      Timeout: 300
  GetTranscriptionOutputLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: GetTranscriptionOutputLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - transcribe:GetTranscriptionJob
                Resource: "*"
  ComprehendTriggerLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          'use strict';
          const https = require('https');
          const AWS = require('aws-sdk');
          const comprehend = new AWS.Comprehend({ apiVersion: '2017-11-27' });
          const s3 = new AWS.S3({ apiVersion: '2006-03-01', signatureVersion: 'v4' });

          exports.handler = (event, context, callback) => {
            var requestUrl = event.TranscriptFileUri;
            console.log(`Transcript file will be fetched from ${requestUrl}`);
            console.log(`Received event in lambda ${JSON.stringify(event)}`);
            https.get(requestUrl, (res) => {
              var chunks = [];
              res.on("data", function(chunk) {
                chunks.push(chunk);
              });
              res.on("end", function() {
                var body = Buffer.concat(chunks);
                var results = JSON.parse(body);
                var transcript = results.results.transcripts[0].transcript;
                console.log(`Transcribed text "${transcript}"`);
                var comprehendParams = {
                  LanguageCode: "en",
                  Text: transcript + ""
                };
                const fileName = event.TRANSCRIBE_JOB_NAME.split('.')[0];
                const s3UploadParams = {
                  ACL: 'private',
                  Key: fileName,
                  Bucket: process.env.COMPREHEND_INPUT_BUCKET,
                  Body: transcript,
                  ContentType: "text/plain"
                };
                s3.upload(s3UploadParams).promise()
                  .then(() => {
                    console.log(`Uploaded translation to S3 as key ${fileName}`);
                    event.COMPREHEND_WAIT_TIME = 30;
                    return comprehend.startEntitiesDetectionJob({
                      DataAccessRoleArn: process.env.COMPREHEND_DATA_ACCESS_ROLE,
                      InputDataConfig: {
                        S3Uri: `s3://${process.env.COMPREHEND_INPUT_BUCKET}/${fileName}`,
                        InputFormat: 'ONE_DOC_PER_FILE'
                      },
                      LanguageCode: 'en',
                      OutputDataConfig: {
                        S3Uri: `s3://${process.env.COMPREHEND_OUTPUT_BUCKET}`
                      },
                      EntityRecognizerArn: process.env.CUSTOM_ENTITY_RECOGNIZER_ARN,
                      JobName: fileName
                    }).promise();
                  })
                  .then(data => {
                    event.COMPREHEND_JOB_ID = data.JobId;
                    console.log('Custom entity recognition triggered');
                    callback(null, event);
                  })
                  .catch(err => {
                    console.log(err, err.stack);
                  });
              });
            }).on('error', (e) => {
              console.error(e);
            });
          };

      Handler: index.handler
      FunctionName: !Ref ComprehendTriggerLambdaName
      Description: Start comprehend job when transcription is complete and store to Dynamo DB
      Role:
        Fn::GetAtt: [ComprehendTriggerLambdaRole, Arn]
      Runtime: nodejs12.x
      Timeout: 300
      Environment:
        Variables:
          DYNAMODB_TABLE: !Ref DynamoDBTableName
          COMPREHEND_INPUT_BUCKET: !Ref ComprehendInputBucket
          COMPREHEND_OUTPUT_BUCKET: !Ref ComprehendOutputBucket
          COMPREHEND_DATA_ACCESS_ROLE: !GetAtt ComprehendDataAccessRole.Arn
          CUSTOM_ENTITY_RECOGNIZER_ARN: !Ref CustomEntityRecognizerArn
  ComprehendTriggerLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: ComprehendTriggerLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - comprehend:*
                Resource: "*"
              - Effect: Allow
                Action:
                  - s3:*
                Resource: !Sub arn:aws:s3:::${ComprehendInputBucketName}/*
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !GetAtt ComprehendDataAccessRole.Arn
  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Ref StepFunctionName
      DefinitionString: !Sub |
        {
          "Comment": "A state machine that submits a Job to AWS Batch and monitors the Job until it completes.",
          "StartAt": "Transcribe Call Audio",
          "States": {
            "Transcribe Call Audio": {
              "Type": "Task",
              "Resource": "${StartTranscriptionLambda.Arn}",
              "ResultPath": "$",
              "Next": "Wait X Seconds for Transcribe",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "Wait X Seconds for Transcribe": {
              "Type": "Wait",
              "SecondsPath": "$.TRANSCRIBE_WAIT_TIME",
              "Next": "Get Transcribe Job Status"
            },
            "Get Transcribe Job Status": {
              "Type": "Task",
              "Resource": "${CheckTranscriptionStatusLambda.Arn}",
              "Next": "Transcribe Job Complete?",
              "InputPath": "$",
              "ResultPath": "$",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "Transcribe Job Complete?": {
              "Type": "Choice",
              "Choices": [{
                "Variable": "$.TRANSCRIBE_STATUS",
                "StringEquals": "IN_PROGRESS",
                "Next": "Wait X Seconds for Transcribe"
              }, {
                "Variable": "$.TRANSCRIBE_STATUS",
                "StringEquals": "COMPLETED",
                "Next": "Get Transcribe Job Output"
              }, {
                "Variable": "$.TRANSCRIBE_STATUS",
                "StringEquals": "FAILED",
                "Next": "Transcribe Job Failed"
              }],
              "Default": "Wait X Seconds for Transcribe"
            },
            "Transcribe Job Failed": {
              "Type": "Fail",
              "Cause": "AWS Batch Job Failed",
              "Error": "DescribeJob returned FAILED"
            },
            "Get Transcribe Job Output": {
              "Type": "Task",
              "Resource": "${GetTranscriptionOutputLambda.Arn}",
              "InputPath": "$",
              "Next": "Trigger contextual analysis",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "Trigger contextual analysis": {
              "Type": "Task",
              "Resource": "${ComprehendTriggerLambda.Arn}",
              "InputPath": "$",
              "ResultPath": "$",
              "Next": "Wait X Seconds for Comprehend",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "Wait X Seconds for Comprehend": {
              "Type": "Wait",
              "SecondsPath": "$.COMPREHEND_WAIT_TIME",
              "Next": "Get Comprehend Job Status"
            },
            "Get Comprehend Job Status": {
              "Type": "Task",
              "Resource": "${CheckComprehendStatusLambda.Arn}",
              "Next": "Comprehend Job Complete?",
              "InputPath": "$",
              "ResultPath": "$",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "Comprehend Job Complete?": {
              "Type": "Choice",
              "Choices": [{
                "Variable": "$.COMPREHEND_STATUS",
                "StringEquals": "IN_PROGRESS",
                "Next": "Wait X Seconds for Comprehend"
              }, {
                "Variable": "$.COMPREHEND_STATUS",
                "StringEquals": "COMPLETED",
                "Next": "Get Comprehend Job Output"
              }, {
                "Variable": "$.COMPREHEND_STATUS",
                "StringEquals": "FAILED",
                "Next": "Comprehend Job Failed"
              }],
              "Default": "Wait X Seconds for Comprehend"
            },
            "Comprehend Job Failed": {
              "Type": "Fail",
              "Cause": "AWS Batch Job Failed",
              "Error": "DescribeJob returned FAILED"
            },
            "Get Comprehend Job Output": {
              "Type": "Task",
              "Resource": "${GetComprehendOutputLambda.Arn}",
              "InputPath": "$",
              "Next": "Store contextual analysis",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            },
            "Store contextual analysis": {
              "Type": "Task",
              "Resource": "${StoreComprendOuputLambda.Arn}",
              "InputPath": "$",
              "End": true,
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }]
            }
          }
        }
      RoleArn: !GetAtt "StateMachineRole.Arn"
  StateMachineRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: !Sub "states.${AWS::Region}.amazonaws.com"
            Action: "sts:AssumeRole"
      Policies:
        - PolicyName: lambda
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action: "lambda:InvokeFunction"
                Resource:
                  - "*"
  StepFuncionTriggerLambdaInvokePermission:
    Type: "AWS::Lambda::Permission"
    Properties:
      FunctionName: !GetAtt StepFunctionTriggerLambda.Arn
      Action: "lambda:InvokeFunction"
      Principal: s3.amazonaws.com
      SourceAccount: !Ref "AWS::AccountId"
      SourceArn: !Sub "arn:aws:s3:::${AudioFileS3Bucket}"
  StepFuncionTriggerLambdaInvokeRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - "sts:AssumeRole"
      Path: /
      Policies:
        - PolicyName: root
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - "s3:GetBucketNotification"
                  - "s3:PutBucketNotification"
                Resource: !Sub "arn:aws:s3:::${AudioFileS3Bucket}"
              - Effect: Allow
                Action:
                  - "logs:CreateLogGroup"
                  - "logs:CreateLogStream"
                  - "logs:PutLogEvents"
                Resource: "arn:aws:logs:*:*:*"
  CustomResourceLambdaFunction:
    Type: "AWS::Lambda::Function"
    Properties:
      Handler: index.lambda_handler
      FunctionName: !Ref CustomResourceLambdaFunctionName
      Description: Custom resource lambda used for setting up triggers to an existing S3 bucket
      Role: !GetAtt StepFuncionTriggerLambdaInvokeRole.Arn
      Code:
        ZipFile: |

          from __future__ import print_function
          import json
          import boto3
          import cfnresponse

          SUCCESS = "SUCCESS"
          FAILED = "FAILED"

          print('Loading function')
          s3 = boto3.resource('s3')

          def lambda_handler(event, context):
              print("Received event: " + json.dumps(event, indent=2))
              responseData={}
              try:
                  if event['RequestType'] == 'Delete':
                      print("Request Type:",event['RequestType'])
                      Bucket=event['ResourceProperties']['Bucket']
                      delete_notification(Bucket)
                      print("Sending response to custom resource after Delete")
                  elif event['RequestType'] == 'Create' or event['RequestType'] == 'Update':
                      print("Request Type:",event['RequestType'])
                      LambdaArn=event['ResourceProperties']['LambdaArn']
                      Bucket=event['ResourceProperties']['Bucket']
                      add_notification(LambdaArn, Bucket)
                      responseData={'Bucket':Bucket}
                      print("Sending response to custom resource")
                  responseStatus = 'SUCCESS'
              except Exception as e:
                  print('Failed to process:', e)
                  responseStatus = 'FAILURE'
                  responseData = {'Failure': 'Something bad happened.'}
              cfnresponse.send(event, context, responseStatus, responseData)

          def add_notification(LambdaArn, Bucket):
              bucket_notification = s3.BucketNotification(Bucket)
              response = bucket_notification.put(
                NotificationConfiguration={
                  'LambdaFunctionConfigurations': [
                    {
                        'LambdaFunctionArn': LambdaArn,
                        'Events': [
                            's3:ObjectCreated:*'
                        ]
                    }
                  ]
                }
              )
              print("Put request completed....")
            
          def delete_notification(Bucket):
              bucket_notification = s3.BucketNotification(Bucket)
              response = bucket_notification.put(
                  NotificationConfiguration={}
              )
              print("Delete request completed....")
      Runtime: python3.6
      Timeout: 50
  LambdaTrigger:
    Type: "Custom::LambdaTrigger"
    DependsOn: StepFuncionTriggerLambdaInvokePermission
    Properties:
      ServiceToken: !GetAtt CustomResourceLambdaFunction.Arn
      LambdaArn: !GetAtt StepFunctionTriggerLambda.Arn
      Bucket: !Ref AudioFileS3Bucket
  ComprehendInputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref ComprehendInputBucketName
  ComprehendOutputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref ComprehendOutputBucketName
  ComprehendDataAccessRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - comprehend.amazonaws.com
            Action:
              - "sts:AssumeRole"
      Path: /
      Policies:
        - PolicyName: root
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - "s3:ListBucket"
                Resource: !Sub "arn:aws:s3:::${ComprehendInputBucketName}"
              - Effect: Allow
                Action:
                  - "s3:GetObject"
                Resource: !Sub "arn:aws:s3:::${ComprehendInputBucketName}/*"
              - Effect: Allow
                Action:
                  - "s3:PutObject"
                Resource: !Sub "arn:aws:s3:::${ComprehendOutputBucketName}/*"
  CheckComprehendStatusLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          'use strict';
          const AWS = require('aws-sdk');
          const comprehend = new AWS.Comprehend();

          exports.handler = (event, context, callback) => {
              comprehend.describeEntitiesDetectionJob({
                JobId: event.COMPREHEND_JOB_ID
              }).promise()
              .then(data => {
                console.log(`Result from describeEntitiesDetectionJob - ${JSON.stringify(data)}`);
                event.COMPREHEND_STATUS = data.EntitiesDetectionJobProperties.JobStatus;
                event.COMPREHEND_WAIT_TIME = 20
                event.comprehendOutputConfig = data.EntitiesDetectionJobProperties.OutputDataConfig;
                callback(null, event);
              })
              .catch(err => {
                console.log(err, err.stack);
                callback(err, event)
              });
          };
      Handler: index.handler
      FunctionName: !Ref CheckComprehendStatusLambdaName
      Description: Check status of comprehend job
      Role:
        Fn::GetAtt: [CheckComprehendStatusLambdaRole, Arn]
      Runtime: nodejs12.x
      Timeout: 300
  CheckComprehendStatusLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: CheckComprehendStatusLambdaRolePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - comprehend:*
                Resource: "*"
  GetComprehendOutputLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          import boto3

          import botocore

          import tarfile

          import json

          import os

          from io import BytesIO

          s3_client = boto3.client('s3')

          def lambda_handler(event, context):
              s3Uri = event['comprehendOutputConfig']['S3Uri']
              bucket = os.environ['COMPREHEND_OUTPUT_BUCKET']
              key = s3Uri.partition('s3://' + bucket + '/')[2]

              input_tar_file = s3_client.get_object(Bucket = bucket, Key = key)
              input_tar_content = input_tar_file['Body'].read()

              with tarfile.open(fileobj = BytesIO(input_tar_content)) as tar:
                  for tar_resource in tar:
                      if (tar_resource.isfile()):
                          inner_file_bytes = tar.extractfile(tar_resource).read()
                          resp = str(inner_file_bytes, 'utf-8')
                          event['enitities'] = json.loads(resp)['Entities']
                          return json.loads(resp)['Entities']
      Handler: index.lambda_handler
      FunctionName: !Ref GetComprehendOutputLambdaName
      Description: Get comprehend output
      Role:
        Fn::GetAtt: [GetComprehendOutputLambdaRole, Arn]
      Runtime: python3.7
      Timeout: 300
      Environment:
        Variables:
          COMPREHEND_OUTPUT_BUCKET: !Ref ComprehendOutputBucketName
  GetComprehendOutputLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: CheckComprehendStatusLambdaRolePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - "s3:ListBucket"
                Resource: !Sub "arn:aws:s3:::${ComprehendOutputBucketName}"
              - Effect: Allow
                Action:
                  - "s3:GetObject"
                Resource: !Sub "arn:aws:s3:::${ComprehendOutputBucketName}/*"
  StoreComprendOuputLambda:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: >
          'use strict';
          const https = require('https');
          const AWS = require('aws-sdk');
          const dynamoDb = new AWS.DynamoDB.DocumentClient();

          exports.handler = (event, context, callback) => {
            console.log(`Detected entities: ${JSON.stringify(event.entities)}`);
            return storeToDynamoDB('robinjer@amazon.com', event.enitities)
            .then(() => {
              callback(null, event);
            })
            .catch(err => {
              console.log(err, err.stack);
            });
          };
            
          const storeToDynamoDB = (customerId, entities) => {
            const timestamp = new Date().getTime();
            return dynamoDb.update({
              TableName: process.env.DYNAMODB_TABLE,
              Key: {
                'customerId': customerId
              },
              UpdateExpression: "set entities = :r, updatedAt = :t",
              ExpressionAttributeValues: {
                ":r": entities,
                ":t": timestamp
              },
              ReturnValues: 'UPDATED_NEW'
            }).promise()
              .then(data => {
                console.log(`Stored entities in DynamoDB for customer: ${customerId}`);
                return Promise.resolve(data);
              })
              .catch(err => {
                console.error(`Failed to store entities in DynamoDB for customer: ${customerId}, error : ${JSON.stringify(err)}`);
                return Promise.reject(err);
              })
          };
      Handler: index.handler
      FunctionName: !Ref StoreComprehendOutputLambdaName
      Description: Store comprehend output to Dynamo DB
      Role:
        Fn::GetAtt: [StoreComprendOuputLambdaRole, Arn]
      Runtime: nodejs12.x
      Timeout: 300
      Environment:
        Variables:
          DYNAMODB_TABLE: !Ref DynamoDBTableName
  StoreComprendOuputLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      Path: "/"
      Policies:
        - PolicyName: ComprehendTriggerLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
              - Effect: Allow
                Action:
                  - dynamodb:BatchWriteItem
                  - dynamodb:PutItem
                  - dynamodb:DeleteItem
                  - dynamodb:UpdateItem
                Resource: !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/${DynamoDBTableName}
