step-functions/transcription-comprehension-storage.json
{
  "Comment": "A state machine that submits a Job to AWS Batch and monitors the Job until it completes.",
  "StartAt": "Transcribe Call Audio",
  "States": {
    "Transcribe Call Audio": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:197234178237:function:octank-start-transcription",
      "ResultPath": "$",
      "Next": "Wait X Seconds",
      "Retry": [{
        "ErrorEquals": ["States.ALL"],
        "IntervalSeconds": 1,
        "MaxAttempts": 3,
        "BackoffRate": 2
      }]
    },
    "Wait X Seconds": {
      "Type": "Wait",
      "SecondsPath": "$.wait_time",
      "Next": "Get Transcribe Job Status"
    },
    "Get Transcribe Job Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:197234178237:function:octank-check-transcription-status",
      "Next": "Job Complete?",
      "InputPath": "$",
      "ResultPath": "$",
      "Retry": [{
        "ErrorEquals": ["States.ALL"],
        "IntervalSeconds": 1,
        "MaxAttempts": 3,
        "BackoffRate": 2
      }]
    },
    "Job Complete?": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.STATUS",
        "StringEquals": "IN_PROGRESS",
        "Next": "Wait X Seconds"
      }, {
        "Variable": "$.STATUS",
        "StringEquals": "COMPLETED",
        "Next": "Get Transcribe Job Output"
      }, {
        "Variable": "$.STATUS",
        "StringEquals": "FAILED",
        "Next": "Job Failed"
      }],
      "Default": "Wait X Seconds"
    },
    "Job Failed": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "DescribeJob returned FAILED"
    },
    "Get Transcribe Job Output": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:197234178237:function:octank-get-transcription",
      "InputPath": "$",
      "Next": "Send contextual analysis",
      "Retry": [{
        "ErrorEquals": ["States.ALL"],
        "IntervalSeconds": 1,
        "MaxAttempts": 3,
        "BackoffRate": 2
      }]
    },

    "Send contextual analysis": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:197234178237:function:octank-start-comprehension",
      "InputPath": "$",
      "End": true,
      "Retry": [{
        "ErrorEquals": ["States.ALL"],
        "IntervalSeconds": 1,
        "MaxAttempts": 3,
        "BackoffRate": 2
      }]
    }
  }
}